* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

.header{
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.header h1 {
    display: inline-block;
    font-size: 48px;
    color: white;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 45px;
    background-color: #ddd;
    border: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
}

.header nav ul li:hover {
  background-color: #3a72ec;
  color: white;
}
.header a {
    color: white;
    text-decoration: none;
    
}
.header a:hover {
    width: 300px;
  }
.hero {
    display: flex;
    align-items: center;   
    height: 400px;
    width: 100%;
    background-image: url("./Assets/istockphoto.jpg");
    background-size:cover;
    align-self: flex-end;
    

}

.hero h3 {
    width: 100%;
    font-size: 27px;
    text-align: right;
    margin: 250px 50px 0 0;
    color: white;
 
}

img {
    width:150px;
    height: 150px;
    transform: scaleX(-1);
    align-self: flex-start;
    margin: 15px;
    border-radius: 10px;
    box-shadow:  -7px 7px 4px grey;
   
}



.section {
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
    justify-content: flex-start;
    flex-direction: row;
    padding: 10px 0  0 5%;
    width: 90%;
    

}

.sideHeader {
    width: 20%;
    text-align: right;
    margin: 0 2% 0 2%

}


.meat{
    display:flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    width: 80%;
    padding-left: 2%;
    border-left: 4px solid black;

}

.bigBox {
    position: relative;
    background-image: url("./Assets/Capture9262021.PNG");
    border: 2px solid grey;
    width: 100%;
    height: 300px;
    text-decoration: none;

}

.meat > a:hover {
    background-color:grey;
    border:15px solid white;

}

.smallBox {
    position: relative;
    /* background-color: #3a72ec; */
    opacity: ;
    border: 2px solid grey;
    width: 50%;
    height: 300px;
    text-decoration: none;
    

}

h3 {
    font-size: 28px;
    color: white;
    text-align: center;
    
    
}

#work2 {
    background-image: url("./Assets/code1.jpeg");
    background-size: contain;
}
#work3 {
    background-image: url("./Assets/code2.jpg");
    background-size: contain;
}
#work4 {
    background-image: url("./Assets/code3.jpg");
    background-size: contain;
}
#work5 {
    background-image: url("./Assets/code4.jpg");
    background-size: contain;
    
}

.meat li {
    list-style-type: none;
    font-size: 34px;
    text-decoration: underline;
} 

.meat li:hover {
    background-color:#3a72ec;
    font-size: 40px;

}

#resumeLink {
    font-size: 34px;
    justify-content:center;

}

#resumeLink:hover {
    background-color:#3283ac;
    font-size: 40px;

}
@media (max-width: 640px) {
    .header {
      text-align: center;
      flex-direction: column;
     
    }
    .header ul li{
        margin:10px 0 0 0;
        width: 100%;
        justify-content: center;
    
        
    }
    .smallBox{
        height: 150px;
        width: 100%
    }
    .meat {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

    }
    .section {
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
        }
    }