* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}
:root {
    --backdrop:rgb(152, 194, 192);
    --hover: white;
    --border: grey;
}
body {
    background-color: var(--backdrop);
   }


.hero {
    display: flex;
    align-items: center;   
    height: 400px;
    width: 100%;
    background-image: url("./Assets/istockphoto.jpg");
    background-size:cover;
    align-self: flex-end;
    

}

.hero h3 {
    width: 100%;
    font-size: 27px;
    text-align: right;
    margin: 250px 50px 0 0;
    color: var(--hover);
 
}

img {
    width:120px;
    height: 120px;
    transform: scaleX(-1);
    align-self: flex-start;
    margin: 15px;
    border-radius: 10px;
    box-shadow:  -5px 5px 3px var(--backdrop);
   
}



.section {
    margin: 25px 0;
    display: flex;
    justify-content: space-around;
    justify-content: flex-start;
    flex-direction: row;
    padding: 10px 0  0 5%;
    width: 90%;
    

}

.sideHeader {
    width: 20%;
    text-align: right;
    margin: 0 2% 0 2%

}


.meat{
    display:flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    width: 100%;
    padding-left: 2%;
    border-left: 4px solid black;

}

.bigBox {
    position: relative;
    background-image: url("./Assets/dogAdoption.png");
    border: 2px solid var(--border);
    width: 100%;
    height: 300px;
    text-decoration: none;

}

.meat > a:hover {
    background-color:var(--border);
    border:15px solid var(--hover);

}

.smallBox {
    position: relative;
    border: 2px solid var(--hover);
    width: 50%;
    height: 300px;
    text-decoration: none;
    

}

.title {
    font-size: 16px;
    color: var(--hover);
    text-align: center;
    background-color: black;
    width: 50%;
    position: absolute;
    bottom: 5px;   
    
}


.center {
    justify-content: center;
}

#work2 {
    background-image: url("./Assets/weatherDashboard.png");
    background-size: contain;
}
#work3 {
    background-image: url("./Assets/passwordGenerator.png");
    background-size:contain;
}
#work4 {
    background-image: url("./Assets/readmeimage.png");
    background-size: contain;
}
#work5 {
    background-image: url("./Assets/notetakerimage.png");
    background-size: contain;
    
}

.meat li {
    list-style-type: none;
    font-size: 34px;
    text-decoration: underline;
} 

.meat li:hover {
    background-color:var(--hover);

}

@media (max-width: 640px) {
    .header {
      text-align: center;
      flex-direction: column;
     
    }
    .header ul li{
        margin:10px 0 0 0;
        width: 100%;
        justify-content: center;
    
        
    }
    .smallBox{
        height: 150px;
        width: 100%
    }
    .meat {
        flex-direction: column;
        justify-content: space-between;
        text-align: center;

    }
    .section {
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
        }
    }